<div class="ui placeholder segment containerLogin">
  <h1 class='titleLogin'>LOGIN</h1>
  <div class="ui form">
    <div class="field">
      <label>Username</label>
      <div class="ui left icon input">
        <input type="text" placeholder="Username">
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="ui blue submit button">Login</div>
  </div>
</div>