// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.containerLogin {
  height: 100%
}
.titleLogin{
  text-align: center;
  margin-bottom: 5%;
  font-size: 58px;
}